doctype html 
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      script( intergrity='sha256-mPalXwNdOimI2Q6Wa6tSWlYsMGQxap/SM255aUnbKBc=' src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js' crossorigin='anonymous')
      link(href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' intergrity='sha384-kikMIBon+ybxILwmJNVfcKND+LmFm16pIa7yCRXNnhHZ7cNuL6Wal5sjYt1/FDBn' crossorigin="anonymous" rel='stylesheet')
      link(nonce='c5d09af037061few37f0d11290e0816f' intergrity="sha384-4nEF7gtvridtDVstJaqFUADTmDFLjBjQIZd5EtgqxwfHjKssG3nbnBpsnXcSXJ0Z" crossorigin="anonymous" href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title Natours | #{title}
  body 
    //HEADER
    include header
    //CONTENT
    block content 
      h1 Placeholder
    //FOOTER
    include footer
    //Script
    //- script(src="/js/mapbox.js")
    //- script(src="/js/login.js")
    script(src="https://js.stripe.com/v3/" integrity="sha384-+A0J/KAAvLYHYc2LHMWryQB07H+gYWxLLGh0hYKXv4Q0AmPItD6O9O1RrgQ3XZox" crossorigin="anonymous")

    script(src="/js/bundle.js")